/* --- Global Layout & Header --- */

/* Ensures padding and borders are included in the element's total width and height */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Align header width with sidebar width */
.main-header {
  width: 350px !important;
}

/* Icon when the sidebar is OPEN (default) */
.main-header .sidebar-toggle:before {
  content: "\25C0";
  display: inline-block;
  font-family: Arial;
}

.main-header .sidebar-toggle:after {
  content: "Collapse";
  font-size: 10px;
  vertical-align: middle;
  margin-left: 5px;
  font-weight: bold;
  letter-spacing: 1px;
}

/* Icon when the sidebar is CLOSED */
body.sidebar-collapse .main-header .sidebar-toggle:before {
  content: "\25B6";
  display: inline-block;
  font-family: Arial;
}

body.sidebar-collapse .main-header .sidebar-toggle:after {
  content: "Expand";
  font-size: 10px; 
  vertical-align: middle;
  margin-left: 5px; 
  font-weight: bold;
  letter-spacing: 1px;
}


/* for some reason dropdown-menu text defaults to white... so it's impossible to read */
.dropdown-menu {
  color: black;
}


/* --- Sidebar Styles --- */

/* General sidebar container adjustment */
section.sidebar {
  margin-top: 10px;
}

/* Minimize padding between elements in sidebar*/
section.sidebar .shiny-input-container {
  padding: 0 10px 0 10px;
  white-space: normal;
  /* margin-bottom: 10px; */
  font-size: 10pt;
}

/* Headings */
section.sidebar h4 {
  margin-top: 0;
  text-align: center;
  font-weight: bold;
}

section.sidebar h5 {
  padding-top: 15px;
  padding-bottom: 5px; 
  font-size: 12pt;
  text-align: center;
}

section.sidebar hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Center paragraph text in the side bar */
section.sidebar p {
  text-align: center;
}


/* --- Input Control Styles --- */

/* General styles for labels */ 
.small-input .control-label {
  font-weight: 400;
}

/* Selectize inputs*/   
.small-input .selectize-input {
  white-space: normal;
  height: min-content;
  min-height: min-content;
  font-size: 10pt;
  padding: 5px 10px;
  border-radius: 2px;
}

/* Selectize controls updated via server */   
.small-input .selectize-control {
  padding: 0;
}

/* textInput and similar inputs */
.small-input .form-control {
  font-size: 10pt;
  border-radius: 2px;
  height: 33.5px;
  padding: 6px 12px;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}

/* File input selector button */
.shiny-input-container .btn {
  border-radius: 12px 12px 0 0; 
  width: 100%; 
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* File input output space */
.shiny-input-container input[type="text"] {
  border-radius:12px 12px 0 0;
  width:100%;
}

/* File input progress bar */
.shiny-file-input-progress {
  border-radius: 0 0 12px 12px;
  overflow: hidden;
  width: 100%;
}

/* Inline input elements */
#inline .form-group { 
  display: table-row;
}

#inline label{ 
  display: table-cell; 
  text-align: left; 
  vertical-align: middle;
  padding-right: 5px;
}


/* --- Button Styles --- */

/* Primary action button */
.btn-primary {
  color: white;
}

/* Sidebar template download button */
.download-btn-primary {
  color: white; 
  width: 80%;
  margin: 0 auto; 
  display: block; 
  align-items: center;
  font-size: 12px;
}

/* Space between icon and text */
.download-btn-primary .fa {
  margin-right: 5px; 
}


/* --- Box and Tab Styles --- */

/* Hide box header */
.box-no-header > .box > .box-header {
  display: none;
}

/* boxes that have tabs at the top */
.box-with-tabs > .box > .box-body > .tabbable > .nav-tabs {
  margin: -10px -10px 5px -10px;
  padding: 10px 10px 0 10px;
  background-color: rgb(91, 98, 104);
  border-radius: 3px 3px 0 0;
}

.box-with-tabs > .box > .box-body > .tabbable > .nav-tabs > li > a {
  font-weight: 800;
  color: white;
}

.box-with-tabs > .box > .box-body > .tabbable > .nav-tabs > li > a:hover {
  color: #555;
}

.box-with-tabs > .box > .box-body > .tabbable > .nav-tabs > li.active > a {
  color: #555;
}


/* --- Custom Component Styles --- */

/* Conditional identifier selector display */
.identifier-selector-visible {
  display: block;
  white-space: normal;
  height: auto;
  padding-bottom: 8px;
}

/* Define the appearance of box */
.identifier-selector-hidden {
  width: 90%;
  margin: 15px auto;
  padding: 10px;
  background-color: #f0f8ff;
  border: 1px solid #d1ecf1;
  border-radius: 4px;
  text-align: center;
}

.identifier-selector-hidden h5 {
  color: #0c5460;
  margin-bottom: 5px;
  font-weight: bold;
}

.identifier-selector-hidden p {
  color: #0c5460;
  margin-bottom: 15px;
  font-size: 10pt;
}