/* Remove space for the title in the navbar*/
.navbar-brand {
  display:none;
}

/* Add the settings icon in the shinydashboard header*/
.main-header .sidebar-toggle:before {
  content: "\2699";
}

/* minimize padding between elements in sidebar*/
section.sidebar .shiny-input-container {
  padding: 0px 10px 0px 10px;
  white-space: normal;
  margin-bottom: 10px;
  font-size: 10pt;
}
section.sidebar h4 {
  padding-left: 10px;
  margin-top: 0px;
}
section.sidebar hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
section.sidebar {
  margin-top: 10px;
}

/* small inputs for sidebar: selectize inputs*/   
.small-input .selectize-input {
  height: min-content;
  font-size: 10pt;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  min-height: min-content;
  border-radius: 2px;
}

/* small inputs for sidebar: selectize inputs that use updateInput somewhere*/   
.small-input .selectize-control {
  padding: 0px;
}

/* small inputs for sidebar: textInput or similar inputs*/
.small-input .form-control {
  border-radius: 2px;
  font-size: 10pt;
  height: min-content;
  padding: 5px;
  min-height: min-content;
}

/* the labels for all inputs*/
.small-input .control-label {
  font-weight: 400;
}

/* style for primary action button */
.btn-primary {
  color: white;
}


/* custom card styling */
.my-custom-card {
  border: 1px solid gray;
  border-radius: 5px;
}

.my-custom-card .card-header {
  padding: 5px;
  background-color: gainsboro;
  border-bottom: 1px solid grey;
}

.my-custom-card .card-body {
  padding: 5px;
}

/* boxes without header */
.box-no-header > .box > .box-header {
  display: none;
}

/* boxes that have tabs at the top */
.box-with-tabs > .box > .box-body > .tabbable > .nav-tabs {
  margin-bottom: 5px
}
.box-with-tabs > .box > .box-body > .tabbable > .nav-tabs > li > a {
  font-weight: 800;
}


